section#about
  .text-block
      .text-block__header.transform-left
        h2.h3 О нас
      .text-block__text
        p Торговая марка PEMCO присутствует на рынке моторных масел уже больше двадцати лет и за это время заслужила уважение и преданность миллионов автолюбителей и профессионалов по всему миру.
        p История бренда началась в далеком 1962 году, когда в городе Клайпеда, Литва, была основана новая компания «Клайпедская нефтебаза».
        |Спустя 30 лет на ее основе было зарегистрировано предприятие по производству масел «Pemco Kuras».
        |Восьмого марта 1994 года на заводе была произведена первая партия моторных масел, ставших первым продуктом, выпущенным компанией.
        |В 2004 году немецкая компания SCT-Vertriebs GmbH приобрела предприятие «Pemco Kuras», что привело к масштабной реконструкции и модернизации завода, которая позволила увеличить производственную мощность до 700 тонн в день. В настоящее время территория предприятия UAB SCT Lubricants занимает 10 гектаров, где трудятся 150 человек.
        p С приходом на завод немецкой компании были обновлены линии производства и здание лаборатории, построено новое современное административное здание, значительно увеличена площадь складских помещений, открыт цех по производству собственной пластиковой тары. Все эти изменения увеличили объемы и качество производимой продукции и позволяют утверждать, что все товары торговой марки PEMCO производятся под тщательным контролем на лучшем оборудовании в странах Балтии.
      .text-block__picture
        figure
          picture
           img(
              src="assets/img/pemco-factory.jpg"
              srcset="assets/img/pemco-factory@2x.jpg 2x"
              alt="Завод по производству масел Pemco")
          figcaption Территориально предприятие охватывает уже более 12000 м². Протяженность трубопроводов составляет более 40 км, а ежедневный не извлекаемый остаток приравнивается к 200 тоннам продукции. В распоряжении компании есть  специально оснащенная лаборатория по исследованию нефтепродуктов (Oilscope Automotive & Industrial Analytical Service), а также научно-исследовательский комплекс который разрабатывает высокотехнологичные масла.
  .text-block
      .text-block__header.transform-left
        h2.h3 Для новых клиентов
      .text-block__text
        p.br Если вы розничный клиент:
        |Мы предлагаем Вам, нашим клиентам широкий спектр автомобильной масел торговой марки Pemco.
        |Доставка товара осуществляется в любой город Республики Крым - абсолютно бесплатно при условии заказа на сумму не менее *** рублей.
        |При заказе на сумму менее *** рублей - стоимость доставки *** рублей.
        p.br Если вы оптовый клиент:
        |Просим вас внимательно подойти к предоставлению информации и подготовке документов,которые необходимы нам при заключении договора и определения
        |форм взаимовыгодного сотрудничества. Конфиденциальность полученной информации предприятие гарантирует.
        |Мы хотим, чтобы наши отношения были взаимовыгодными, поэтому идем к Вам с особым предложением для новых клиентов!
        p.br От нас:
        ul
          li Всем новым клиентам предоставляется весь доступный набор бумажных и электронных каталогов.
          li Помогаем в составлении ассортимента логистике и доставке.
          li Предоставляем все необходимые документы и сертификаты.
        p.br От вас:
        |Документы, необходимые для заключения договора с ИП:
        ul.br
          li Заполненная Анкета Клиента;
          li Копия свидетельства о государственной регистрации, заверенная личной подписью ИП, печатью при её наличии;
          li Копия паспорта (3 листа: 1 л. – информация на русском языке, 2 л. – информация на английском, 3 л. – информация о прописке (регистрации));
        |Документы, необходимые для заключения договора с юр. лицами:
        ul.br
          li Копия свидетельства о государственной регистрации, заверенная подписью руководителя и печатью ЮЛ;
          li Копия устава предприятия (первые ТРИ листа), заверенная подписью руководителя и печатью ЮЛ;
          li Копия Протокола общего собрания участников об избрании директора (руководителя)или Решения о назначении директора (руководителя), заверенная подписью руководителя и печатью ЮЛ;
          li Копия доверенности на представителя, имеющего полномочия на подписание договора, если договор подписывается не руководителем, заверенная подписью руководителя и печатью ЮЛ.
