//block header
//start variable

//end variables
//names '-line' - block padding
        '-'
header.header
  .top-line-wrapper
    .wrapper
        .logo
            img(src='/assets/img/logo.png' alt='Автомобильные масла Pemco')
        ul.contacts.contacts-size
          li.contacts__tel
              a(href="tel:+79787518892").links__icon
                i.fa.fa-call
                |+797 875 188 92
          li.contacts__email
              a(href="mailto:argentavto@gmail.com").links__icon
                i.fa.fa-email
                |argentavto@gmail.com
        .work-time
  .body-line-wrapper
    .wrapper
      .header__bg-image
    .wrapper
      .header-body-text.square
          .icon
            i.fa.fa-gasoline.header-body__icon
          p.h3 Розничным клиентам
          .b-text
              p Ищете нужный товар в розницу? Наш магазин поможет вам в этом!
          .btn
            span
              a(href="#address").links__icon
                i.fa.fa-location
                |Наш Адрес
      .header-body-text.square
          .icon
              i.fa.fa-barrel.header-body__icon
          p.h3 Оптовым клиентам
          .b-text
              p Вам необходимы оптовые поставки? Мы предоставляем возможность реализации товара оптовым покупателям
          .btn
            span
              a(href="#address").links__icon
                i.fa.fa-location
                |Наш Адрес