//block header
//start variable

//end variables
//names '-line' - block padding
        '-'
section#products
    .wrapper
      .heading
        h1.h3 Наша продукция
        //Табы
      .tab-header
          .tab-header__item.js-tab-trigger.active(data-product="1")
              .icon
                i.fa.fa-car-front.tab__icon
              .b-text.links__icon Легковые автомобили
          .tab-header__item.js-tab-trigger(data-product="2")
              .icon
                i.fa.fa-truck.tab__icon
              .b-text.links__icon Грузовые автомобили
          .tab-header__item.js-tab-trigger(data-product="3")
              .icon
                i.fa.fa-gears.tab__icon
              .b-text.links__icon Трансмиссионные масла
      .tab-content.js-tab-content.active(data-product="1")
          .tab-content__header
            h2.h3 Автомасла для легковых автомобилей
          .tab-content__body.slider-data-1
            .card-wrapper
              .card
                .card__title
                  h3 PEMCO iDRIVE 370 0W-40 API SN
                .card__text
                  | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                  | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                  | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                  |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
                .card__table
                  table.table.table-striped.features
                    tbody
                      tr
                        td.name Бренд
                        td.value Pemco
                      tr
                        td.name Вязкость  SAE
                        td.value SAE 15W-40
                      tr
                        td.name Классификация  API
                        td.value API SL, API CG-4, API CF-4, API CF
                      tr
                        td.name Классификация ACEA
                        td.value A3, B3, E3
                      tr
                        td.name Допуски лег.авто
                        td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                      tr
                        td.name Объем
                        td.value 1Л, 5Л, 10Л, 20Л, 60Л
                img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
                .card_link() Сертификат качества
            .card-wrapper
              .card
                .card__title
                  h3 PEMCO iDRIVE 370 0W-40 API SN
                .card__text
                  | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                  | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                  | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                  |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
                .card__table
                  table.table.table-striped.features
                    tbody
                      tr
                        td.name Бренд
                        td.value Pemco
                      tr
                        td.name Вязкость  SAE
                        td.value SAE 15W-40
                      tr
                        td.name Классификация  API
                        td.value API SL, API CG-4, API CF-4, API CF
                      tr
                        td.name Классификация ACEA
                        td.value A3, B3, E3
                      tr
                        td.name Допуски лег.авто
                        td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                      tr
                        td.name Объем
                        td.value 1Л, 5Л, 10Л, 20Л, 60Л
                img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
                .card_link() Сертификат качества
            .card-wrapper
              .card
                .card__title
                  h3 PEMCO iDRIVE 370 0W-40 API SN
                .card__text
                  | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                  | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                  | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                  |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
                .card__table
                  table.table.table-striped.features
                    tbody
                      tr
                        td.name Бренд
                        td.value Pemco
                      tr
                        td.name Вязкость  SAE
                        td.value SAE 15W-40
                      tr
                        td.name Классификация  API
                        td.value API SL, API CG-4, API CF-4, API CF
                      tr
                        td.name Классификация ACEA
                        td.value A3, B3, E3
                      tr
                        td.name Допуски лег.авто
                        td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                      tr
                        td.name Объем
                        td.value 1Л, 5Л, 10Л, 20Л, 60Л
                img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
                .card_link() Сертификат качества
            .card-wrapper
              .card
                .card__title
                  h3 PEMCO iDRIVE 370 0W-40 API SN
                .card__text
                  | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                  | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                  | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                  |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
                .card__table
                  table.table.table-striped.features
                    tbody
                      tr
                        td.name Бренд
                        td.value Pemco
                      tr
                        td.name Вязкость  SAE
                        td.value SAE 15W-40
                      tr
                        td.name Классификация  API
                        td.value API SL, API CG-4, API CF-4, API CF
                      tr
                        td.name Классификация ACEA
                        td.value A3, B3, E3
                      tr
                        td.name Допуски лег.авто
                        td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                      tr
                        td.name Объем
                        td.value 1Л, 5Л, 10Л, 20Л, 60Л
                img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
                .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
      .tab-content.js-tab-content(data-product="2")
          .tab-content__header
            h2.h3 Автомасла для грузовых автомобилей
          .tab-content__body.slider-data-2
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л

              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
                    tr
                      td.name Объем
                      td.value 1Л, 5Л, 10Л, 20Л, 60Л
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
      .tab-content.js-tab-content(data-product="3")
          .tab-content__header
            h2.h3 Трансмиссионные автомасла
          .tab-content__body.slider-data-3
            .card
              .card__title
                h3 PEMCO iDRIVE 370 0W-40 API SN
              .card__text
                | PEMCO iDRIVE 370 0W-40 – универсальное, всесезонное, полностью синтетическое, энергосберегающее моторное масло,
                | предназначенное для новых поколений всех типов двигателей. Благодаря уникальной би-синтетической основе
                | обеспечивает мгновенную смазку при экстремально низких температурах. Предотвращает пусковой износ.
                |  Обеспечивает исключительную чистоту деталей двигателя. Гарантирует максимальную защиту от износа на всех режимах работы двигателя.
              .card__table
                table.table.table-striped.features
                  tbody
                    tr
                      td.name Бренд
                      td.value Pemco
                    tr
                      td.name Вязкость  SAE
                      td.value SAE 15W-40
                    tr
                      td.name Классификация  API
                      td.value API SL, API CG-4, API CF-4, API CF
                    tr
                      td.name Классификация ACEA
                      td.value A3, B3, E3
                    tr
                      td.name Допуски лег.авто
                      td.value MB 229.1, MB 228.3, MAN 3275, VOLVO VDS, MTU 2.0
              img.card__image(src='./assets/img/products/test.jpg' alt='Test Image')
              .card_link() Сертификат качества
