$icomoon-font-family: "pemco-icons" !default;
$icomoon-font-path: "../fonts" !default;

$fa-call: "\e900";
$fa-email: "\e901";
$fa-barrel: "\e902";
$fa-car-front: "\e903";
$fa-gasoline: "\e904";
$fa-gears: "\e905";
$fa-truck: "\e906";
$fa-location: "\e907";

