extends ../_template

block variables
  - var title = 'PEMCO Симферополь'

block header
  include ../common/_header
block products
  include ../common/_products
block about
  include ../common/_about
block address
  include ../common/_address
